<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siddiq1908.foodapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Food App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodApp">
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Drink"
            android:exported="false" />
        <activity
            android:name=".IceCream"
            android:exported="false" />
        <activity
            android:name=".Cake"
            android:exported="false" />
        <activity
            android:name=".Biryani"
            android:exported="false" />
        <activity
            android:name=".Burger"
            android:exported="false" />
        <activity
            android:name=".Pizza"
            android:exported="false" />
        <activity
            android:name=".ItemDetails"
            android:exported="false" />
        <activity
            android:name=".SeeMoreNearby"
            android:exported="false" />
        <activity
            android:name=".SeeMoreRecommended"
            android:exported="false" />
        <activity
            android:name=".SeeMoreCategory"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>